

doctype
html(lang='pl')
	head
		title BlackBird
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(href='./css/style.css', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body
		header.headerImage
			div.frontBird
			div.backBird
			div.logo
		section.content
			h1 Unique Style
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
			hr
			div.modelPics
				div.row.rowImg
					figure.col-md-4
						img.img-responsive(src='./images/model1.jpg')
						figcaption BlackBird Sweater - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model2.jpg')
						figcaption BlackBird Trousers - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model3.jpg')
						figcaption BlackBird Jacket - <strong>135$</strong>	
				div.row.rowImg
					figure.col-md-4
						img.img-responsive(src='./images/model2.jpg')
						figcaption BlackBird Sweater - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model3.jpg')
						figcaption BlackBird Trousers - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model1.jpg')
						figcaption BlackBird Jacket - <strong>135$</strong>	
				div.row.rowImg
					figure.col-md-4
						img.img-responsive(src='./images/model3.jpg')
						figcaption BlackBird Sweater - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model1.jpg')
						figcaption BlackBird Trousers - <strong>135$</strong>
					figure.col-md-4
						img.img-responsive(src='./images/model2.jpg')
						figcaption BlackBird Jacket - <strong>135$</strong>	
			h1 Fine Tayloring
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
			hr
			div.periscope
				div.window-tint
					div.promo-text Man in Black 
						<strong><span>from</span> $99</strong>
						a(href="").window-cta Shop Now
			h1 Fine Tayloring
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
			hr
			h1 Fine Tayloring
			hr
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
			hr
			hr
			h1 Fine Tayloring
			hr
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
			hr
			div.blog-post
				div.row
					div.post.col-md-4.post-1
						h3 Post Title
						img.img-responsive(src='./images/posts/one.jpg')
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit
						p: a.btn-default.btn-lg(href="") Read More
					div.post.col-md-4.post-2
						h3 Post Title
						img.img-responsive(src='./images/posts/two.jpg')
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit
						p: a.btn-default.btn-lg(href="") Read More
					div.post.col-md-4.post-3
						h3 Post Title
						img.img-responsive(src='./images/posts/three.jpg')
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit
						p: a.btn-default.btn-lg(href="") Read More
	script(type='text/javascript' src='js/jquery.min.js')
	script(type='text/javascript' src='js/app.js')
