

doctype
html(lang='pl')
	head
		title BlackBird
		link(href='./css/style.css', rel='stylesheet')

	body
		header.headerImage
			div.frontBird
			div.backBird
			div.logo
	script(type='text/javascript' src='js/jquery.min.js')
	script(type='text/javascript' src='js/app.js')
