body
	margin: 0
	font-family: "Open Sans", sans-serif
h1
  color: #ccc
  weight: 300
.headerImage
	background-image: url('../images/bird-bg.jpg')
	background-size: auto 600px
	width: 100vw
	height: 600px
	position: relative
	overflow: hidden
	background-attachment: fixed
	background-position: top center
.frontBird
	background-image: url('../images/fore-bird.png')
	position: absolute
	background-position: bottom right
	background-repeat: no-repeat
	width: 960px
	height: 733px
	left: 50%
	margin-left: -480px
	top: 380px
.backBird
	background-image: url('../images/back-bird.png')
	position: absolute
	background-position: top left
	background-repeat: no-repeat
	width: 960px
	height: 298px
	left: 50%
	margin-left: -480px
	top: 30px
.logo
	background-image: url('../images/black-bird-logo.svg')
	position: absolute
	background-position: center
	background-repeat: no-repeat
	width: 100%
	height: 100px
	top: 50%
	margin-top: -50px
.content 
	position: relative
	background: white
	margin-bottom: 400px
	//overflow: hidden
	padding: 100px 0
	max-width: 640px
	margin: 0 auto
	text-align: center
.modelPics
	margin-bottom: 100px
	figure
		margin-top: 20px
		position: relative
		opacity: 0
		transform: translateX(-20px)
		transition: all 0.2s ease-in-out
		cursor: pointer
		overflow: hidden
		padding: 0
		margin-left: 10px
		margin-right: 10px
		width: 30.2%
		&.isShowing
			opacity: 1
			transform: translateX(0px)
		img
			transform: scale(1)
			transition: all 0.4s ease-in-out
			display:block
			overflow: hidden
		&:hover
			img
				transform: scale(1.2)
			figcaption
				left: 0%
figcaption
	position: absolute
	bottom: 10px
	left: -100%
	background-color: black
	color: white
	padding: 2px 8px
	font-size: 11px
	transition: all 0.2s ease-in-out
.periscope
	margin-top: 100px
	height: 640px
	background-image: url("../images/model2.jpg")
	background-position: center 0
	border-radius: 50%
	background-attachment: fixed
	position:relative
	overflow:hidden
	background-repeat: repeat-y
.window-tint
	height: 640px
	width: 640px
	background-color: black
	color: white
	opacity: 1
	text-align: center
	margin: 0 auto
	display: flex
	flex-direction: column
	justify-content: center
.promo-text
	font:
		size: 50px
		weight: 100
	strong
		display: block
		font-size: 30px
		span
			font:
				style: italic
				size: 18px
				weight: 300
.window-cta
	font-size: 20px
	text-decoration: none
	color: white
	border: 1px solid white
	padding: 10px 20px
	transition: all 0.3s ease-in-out
	&:hover
		background-color: white
		color: black
		text-decoration: none
.blog-post
	margin-top: 100px
	.post
		border: 1px solid #e1e1e1

